# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [183]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [184]:
Data = pd.concat([
                          pd.read_csv("Data/Students_info_0.csv"),
                          pd.read_csv("Data/Students_info_1.csv"),
                          pd.read_csv("Data/Students_info_2.csv"),
                          pd.read_csv("Data/Students_info_3.csv"),
                          pd.read_csv("Data/Students_info_4.csv"),
                          pd.read_csv("Data/Students_info_5.csv"),
                          pd.read_csv("Data/Students_info_6.csv"),
                          pd.read_csv("Data/Students_info_7.csv"),
                          pd.read_csv("Data/Students_info_8.csv"),
                          pd.read_csv("Data/Students_info_9.csv")
                          ])

StudentsMarks = pd.concat([
                         pd.read_csv("Data/Students_marks_0.csv"),
                         pd.read_csv("Data/Students_marks_1.csv"),
                         pd.read_csv("Data/Students_marks_2.csv"),
                         pd.read_csv("Data/Students_marks_3.csv"),
                         pd.read_csv("Data/Students_marks_4.csv"),
                         pd.read_csv("Data/Students_marks_5.csv"),
                         pd.read_csv("Data/Students_marks_6.csv"),
                         pd.read_csv("Data/Students_marks_7.csv"),
                         pd.read_csv("Data/Students_marks_8.csv"),
                         pd.read_csv("Data/Students_marks_9.csv"),
                         ])

Data = Data.merge(StudentsMarks)

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [185]:
Data.set_index('index')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

In [186]:
Data.__delitem__('index')

In [187]:
Data[0:10]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [188]:
Data.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [189]:
Data.describe().drop(['count','25%', '50%', '75%'])

      math score  reading score  writing score
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [190]:
Data.notnull().describe()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1,1,1,1,1,1,1,1,1
top,True,True,True,True,True,True,True,True,True
freq,1000,1000,1000,1000,1000,1000,1000,1000,1000

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [191]:
Data[['math score','reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [192]:
Data[Data['test preparation course'] == 'completed'][['math score', 'reading score', 'writing score']].mean()

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

In [193]:
Data[Data['test preparation course'] == 'none'][['math score', 'reading score', 'writing score']].mean()

math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

In [194]:
Data[Data['test preparation course'] == 'completed'][['math score', 'reading score', 'writing score']].mean() - Data[Data['test preparation course'] == 'none'][['math score', 'reading score', 'writing score']].mean()

math score       5.617649
reading score    7.359587
writing score    9.914322
dtype: float64

Средний балл студентов прошедших курс подготовки выше по всем предметам

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [195]:
Data['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [196]:
Data = Data.rename(columns={'parental level of education' : 'education', 'test preparation course' : 'test preparation'})
Data

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [197]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [198]:
Data[Data['math score'] >= passmark]['math score'].count()/Data['math score'].count()

0.865

In [199]:
Data[Data['math score'] >= passmark][Data['test preparation'] == 'completed']['math score'].count()/Data[Data['test preparation'] == 'completed']['math score'].count()

C:\Users\balk0n\AppData\Local\Temp\ipykernel_11508\1216721368.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Data[Data['math score'] >= passmark][Data['test preparation'] == 'completed']['math score'].count()/Data[Data['test preparation'] == 'completed']['math score'].count()

0.9217877094972067

In [200]:
Data[Data['gender'] == 'female'][Data['test preparation'] == 'none'][Data['math score'] < passmark]['math score'].count()/Data[Data['gender'] == 'female'][Data['test preparation'] == 'none']['math score'].count()

C:\Users\balk0n\AppData\Local\Temp\ipykernel_11508\1590664195.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Data[Data['gender'] == 'female'][Data['test preparation'] == 'none'][Data['math score'] < passmark]['math score'].count()/Data[Data['gender'] == 'female'][Data['test preparation'] == 'none']['math score'].count()

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [201]:
%%time
Data.groupby('race/ethnicity')['reading score'].mean()

CPU times: total: 31.2 ms
Wall time: 2 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [202]:
%%time
Data.groupby('education')['writing score'].min()

CPU times: total: 31.2 ms
Wall time: 996 µs

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [203]:
%%time
for x in set(Data['race/ethnicity']):
    count = 0
    sum = 0
    for y in Data[Data['race/ethnicity'] == x]['reading score']:
        count += 1
        sum += y
    print("mean for", x,"=", sum/count)

mean for group E = 73.02857142857142
mean for group C = 69.10344827586206
mean for group A = 64.67415730337079
mean for group D = 70.03053435114504
mean for group B = 67.35263157894737
CPU times: total: 0 ns
Wall time: 8 ms

In [204]:
%%time
for x in set(Data['education']):
    min = 100
    for y in Data[Data['education'] == x]['writing score']:
        if y < min:
            min = y
    print("min writing score for", x, 'is', min)

min writing score for high school is 15
min writing score for some high school is 10
min writing score for associate's degree is 35
min writing score for master's degree is 46
min writing score for bachelor's degree is 38
min writing score for some college is 19
CPU times: total: 15.6 ms
Wall time: 5 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [205]:
Data.pivot_table(['math score', 'reading score', 'writing score'], columns=['gender','education'], aggfunc= 'mean').transpose()

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [234]:
Data['Math_PassStatus'] = 'F'
Data['Reading_PassStatus'] = 'F'
Data['Writing_PassStatus'] = 'F'
Data.loc[Data['math score'] >= passmark, 'Math_PassStatus'] = 'P'
Data.loc[Data['reading score'] >= passmark, 'Reading_PassStatus'] = 'P'
Data.loc[Data['writing score'] >= passmark, 'Writing_PassStatus'] = 'P'
Data['Math_PassStatus'].value_counts()

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [235]:
Data['Reading_PassStatus'].value_counts()

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [236]:
Data['Writing_PassStatus'].value_counts()

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [242]:
Data['OverAll_PassStatus'] = 'P'
Data.loc[Data['Math_PassStatus'] == 'F', 'OverAll_PassStatus'] = 'F'
Data.loc[Data['Reading_PassStatus'] == 'F', 'OverAll_PassStatus'] = 'F'
Data.loc[Data['Writing_PassStatus'] == 'F', 'OverAll_PassStatus'] = 'F'
Data['OverAll_PassStatus'].value_counts()

P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [259]:
def GetGrade(average_mark):
    if average_mark < 50:
        return 'F'
    if average_mark < 60:
        return 'E'
    if average_mark < 70:
        return 'D'
    if average_mark < 80:
        return 'C'
    if average_mark < 90:
        return 'B'
    return 'A'

Data['Grade'] = Data.mean(axis=1, numeric_only=True)
Data['Grade'] = Data['Grade'].apply(lambda x: GetGrade(x))
Data['Grade'].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64